body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f4645f;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
}

.topics, .companies {
    margin-bottom: 30px;
}

h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.topic-buttons, .company-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f4645f;
    color: #fff;
    font-size: 1em;
}

button:hover {
    background-color: #d9534f;
}
